body{
  width: 100%;
  margin: 0;
  padding: 0;
}
.App{
  padding: 0;
  background-image: url('./img/background.jpg');
  background-size: cover;
}


#root{
  background-color: #343a40 ;
}

.img-about{
  opacity: 0.3;
  filter: opacity(0.3);
}
.div-works{
filter: grayscale(100%);  

}
.about{

}